.profile-css{
  margin: 10% 0;
}

.header{
    margin: 10% 13%;
}

.proflie-content{
  margin: 0 13%;
}

.wallpaper-holder {
    background-color: #bbb;
    height: 250px;

}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  min-height: 60vh;
background: linear-gradient(to bottom, #efbaba, #3200ba61);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
  color: #ffffff;
}

/* .location svg {
  vertical-align: middle;
} */

.stats {
  display: flex;
}

.stats .col-4,  .stats p{
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 1rem 0;
  color: #ba000081;
}


@keyframes zoom_in-profile-animation {
  from { 
    margin: 5% 15%;

  }
  to { 
      margin: 10% 5%;
  }
}

.header {
  animation: zoom_in-profile-animation linear;
  animation-timeline: view(block);
  animation-range-start: cover + 20px;
  animation-range-end: cover;
}

.proflie-content{
  text-align: left;

}

.proflie-content > div{
  margin: 20px 0;
  border-bottom: 2px dashed burlywood;
}