.custom-h4 {
    font-weight: 200;
    font-size: 16px;
}

#custom-button {
    background-color: #57557d;
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

#custom-button2 {
    background-color: whitesmoke;
    color: #57557d;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

#custom-button:hover {
    background-color: transparent;
    color: #57557d;
    border: 2px solid #57557d;
    border-radius: 5px;
}

#custom-button2:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}