
.wrapper {
    padding: relative;
    margin: 0;
    /* margin-top: 98px; */
}
/* .home-img{
    margin: 0 10%;
    margin-bottom: 20%;
} */

.home-img > img {
    width: 100%;
    height: 100%;
}

.store-quote {
    position: absolute;
    top: 47%;
    padding-left: 16%;
}

.store-quote>h4 {
    text-align: left;
    color: #f8a075;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;
}


@media screen and (max-width:850px) {
    .store-quote {
        top: 25%;
        padding-left: 5%;
    }

}

@keyframes zoom_in-animation {
    from { 
        opacity: calc(200%);
        margin: 0 15%;
        
    }
    to { 
        margin: 0;
        opacity: calc(-10%);
    }
}

.home-img {
    animation: zoom_in-animation linear;
    animation-timeline: view(block);
    animation-range-start: contain;
    animation-range-end: cover;
}

/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
