
.wrapper {
    padding: relative;
    /* margin: 0; */
    background-color: #E8E6E6;
    /* margin-top: 98px; */
}
/* .home-img{
    margin: 0 10%;
    margin-bottom: 20%;
} */

.home-img > img {
    width: 100%;
    height: 100%;

}
.store-quote {
    position: absolute;
    top: 47%;
    padding-left: 16%;
}

.store-quote>h4 {
    text-align: left;
    color: #f8a075;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Sriracha', cursive !important;

}


.home-h1{
    padding: 1rem 0;
    margin-top: 5%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: #3d3b7e;
}

.home-content{
    /* margin: 1rem 2rem; */
    /* margin-bottom: 2rem; */
    padding: 2rem 10% 2rem 10%;
    background-color: whitesmoke;
}


.home-frame-2{
    /* background-color: whitesmoke; */
    margin: 0 1.5rem;
    padding-bottom: 1rem;
}


@media screen and (max-width:850px) {
    .store-quote {
        top: 25%;
        padding-left: 5%;
    }

}

@keyframes margin-home-animation {
    from { 
        opacity: calc(200%);
        margin: 0 15%;
    }
    to { 
        margin: 0;
        opacity: calc(-10%);
    }
}


.home-img {
    animation: margin-home-animation linear;
    animation-timeline: view(block);
    animation-range-start: contain;
    animation-range-end: cover;
}

@media only screen and (max-width:500px) {
    .store-quote {
        position: absolute;
        top: 25%;
        padding-left: 16%;
    }

    .store-quote>h4 {
        text-align: left;
        color: #f8a075;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
    }
}

@media only screen and (min-width:500px) and (max-width: 600px) {
    .store-quote {
        position: absolute;
        top: 25%;
        padding-left: 16%;
    }

    .store-quote>h4 {
        text-align: left;
        color: #f8a075;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
    }
    .hover-story{
        position: absolute;
        font-size: 10px;
    }
    .hover-button {
        margin: 10%;
    }
}

@media only screen and (min-width:600px) and (max-width: 800px) {
    .store-quote {
        position: absolute;
        top: 29%;
        padding-left: 16%;
    }

    .store-quote>h4 {
        text-align: left;
        color: #f8a075;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
    }
    
    .hover-story{
        font-size: 10px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .store-quote {
        position: absolute;
        top: 35%;
        padding-left: 16%;
    }

    .store-quote>h4 {
        text-align: left;
        color: #f8a075;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
    }
    .hover-story{
        font-size: 12px;
    }
}

@media only screen and (min-width: 1000px) {
    .store-quote {
        position: absolute;
        top: 40%;
        padding-left: 16%;
    }

    .store-quote>h4 {
        text-align: left;
        color: #f8a075;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
    }
}

.home-frame-1 {
    position: relative;
    display: inline-block;
  }
  
  .banner-image {
    width: 100%;
  }

  .hover-button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 10%;
    right: 45%;
    transform: translateY(-50%);
    padding: 10px 20px; 
    background-color: transparent;
    color: #57557d;
    border: 1.5px solid #57557d;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Slow transition */
}

.banner-container:hover .hover-button, .banner-container:hover .hover-story{
  opacity: 1;
  visibility: visible; /* Make it visible on hover */
  
}

.banner-container:hover{
    filter: brightness(80%);
    transition: filter 0.5s;
}

.hover-button:hover{
    background-color: rgba(169, 184, 215, 0.636);
    color: white;
    border: 1.5px solid white;
    transition: 0.5s ease-in-out; /* Slow transition */
}

.banner-container {
    position: relative;
    filter: brightness(100%);

  }
  .hover-story p{
    font-family: 'Sriracha', cursive;
    color: #57557d;
    font-size: larger;
    /* opacity: calc(200%); */
  }
  .hover-story {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Slow transition */
    padding: 20px 20px;
  }