.product-title,
.product-description,
.product-subtitle {
    text-align: left;
}

.button-container {
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    justify-content: space-around;
}

.buy-now-button {
    background-color: #6d79b5;
    color: white;
    border-radius: 22px;
    border: 2px solid #6d79b5;
    padding: 5px 15px;
    width: 100%;
}

.buy-now-button:hover {
    background-color: white;
    color: #6d79b5;
    border-color: #6d79b5;
}

.add-to-cart-button {
    padding: 5px 15px;
    background-color: white;
    color: #4557b1;
    border-radius: 22px;
    border: 2px solid #6d79b5;
    width: 100%;
}

.add-to-cart-button:hover {
    background-color: #5d6bb0;
    color: white;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }
}