.custom-header,
.custom-header * {
    background-color: #ffebde;
    color: #f88d58 !important ; 
    font-weight: 700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 70px; */
}

#custom-search {
    background-color: white;
}

.custom-search-btn {
    background-color: #f88d58 !important;
    color: white !important;
    border: #f88d58 !important;
}

.custom-search-btn:hover {
    background-color: #ef6a28 !important;
}