#main-slider-container{
    width: 100%;
    height: 300px;
    border-radius: 100%;
    align-items: center;
}

#slider{
    width: 100%;
    height: 100%;
    background: white;
    white-space: nowrap;
    overflow-x: scroll;
}

#slider::-webkit-scrollbar{
    display: none;
}

#main-slider-container{
    position: relative;
    display: flex;
    align-items: center;
}


.slider-card-title, .slider-card-price{
    margin: 5px 0px 5px 10px !important;
}

.slider-card-title {
    font-weight: 500;
    margin-top: 10px;
}

.slider-card-price{
    opacity: 0.5;
    font-size: 13px;
}

.slider-card-img{
    width: 100%;
    height: 240px;
    background-color: hsl(0deg 0% 94% / 80%) !important;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}


.slider-icon.left, .slider-icon.right{
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    box-shadow: 2px 2px 2px rgba(0 0 0 / 12%);
    cursor: pointer;
}

.slider-icon.left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-icon.left:hover,.slider-icon.right:hover{
    opacity: 1;
}

.slider-card{
    width: 320px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px rgba(0 0 0 / 12%);
    cursor: pointer;
}