#main-slider-container {
    width: 100%;
    height: 305px;
    border-radius: 100%;
}

#slider {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: transparent;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
}

.slider-card {
    flex: 0 0 auto;
}

.slider-card:hover {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

#slider::-webkit-scrollbar {
    display: none;
}

#main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
}


.slider-card-title,
.slider-card-price {
    margin: 5px 0px 5px 10px !important;
}

.slider-card-title {
    font-weight: 500;
    margin-top: 10px;
}

.slider-card-price {
    opacity: 0.5;
    font-size: 13px;
}

.slider-card-img {
    width: 100%;
    height: 240px;
    background-color: hsl(0deg 0% 94% / 80%) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.slider-icon:hover {
    transform: scale(1.2);
    /* color: #df4c699e; */
    color: #3e3baca5;
}

.slider-icon {
    transition: transform 0.2s ease-in-out;
}

.slider-icon.left,
.slider-icon.right {
    /* background: rgb(0, 0, 0); */
    border-radius: 100%;
    position: absolute;
    opacity: 0.5;
    box-shadow: 2px 2px 2px rgba(0 0 0 / 12%);
    cursor: pointer;
}

.slider-icon.left {
    left: -10%;
    /* top: 20%; */
    /* justify-content: center; */
}

.slider-icon.right {
    right: -10%;
}

.slider-icon.left:hover,
.slider-icon.right:hover {
    opacity: 1;
}

.slider-card {
    width: 320px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px rgba(0 0 0 / 12%);
    cursor: pointer;
}